@font-face {
  font-family: doto;
  src: url("../src/assets/fonts/Doto-Medium.ttf");
}

@font-face{
  font-family: playfair;
  src: url("../src/assets/fonts/PlayfairDisplay-Regular.ttf");
}

@font-face{
  font-family:lato;
  src: url("../src/assets/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: helvetica;
  src: url("../src/assets/fonts/Helvetica-Oblique.ttf");
}

/* Tailwind v4 setup: include preflight and utilities */
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));



@theme {
  --color-primary: #E6CCFF;
  --font-doto: doto, "sans-serif";
  --font-playfair: playfair, "sans-serif";
  --font-lato: lato, "sans-serif";
}



::-webkit-scrollbar {
  display: none;
}

.reset-tw:not(pre):not(code){
  all:revert;
}

.markdown-content-style h2 {
    margin-top: 1.5rem; 
    margin-bottom: 0.75rem;
}

.markdown-content-style p {
    margin-bottom: 0.75rem;
}

.markdown-content-style ul, .markdown-content-style ol {
    list-style-position: inside;
    padding-left: 1.5rem; 
    margin-top: 0.5rem; 
    margin-bottom: 0.5rem;
}

.markdown-content-style ul {
    list-style-type: disc;
}

.markdown-content-style ol {
    list-style-type: decimal;
}

.markdown-content-style li {
    margin-bottom: 0.25rem;
}